@font-face {
    font-family: LifeEF;
    src: url(../fonts/LifeEF-Regular.woff);
}

html {
    scroll-behavior: smooth;
    font-family: LifeEF;
}

body {
    margin: 0;
    padding: 0;
    background-image: url("../img/4thSpaceLayout.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
}

table {
    background-color: white;
}

h4 {
    margin-bottom: 0;
}

a {
    color: black;
    text-decoration: none;
}

p {
    margin-top: 0;
}

#backgroundColor {
    background-color: rgba(255, 255, 255, 0.90)
}

.stretch {
    width: 100%;
}

.container {
    position: relative;
    width: 100%;
    overflow: hidden;
    padding-top: 56.25%; /* 16:9 Aspect Ratio */
}

.responsive {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border: none;
}

.section {
    width: 50%;
    height: 75vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding: 0 50px;
    text-align: center;
}

.aCenter {
    display: inline-block;
}

.aLeft {
    text-align: left;
}

/* Navigation Section*/
#navigation {
    width: 100%;
    height: 75px;
    display: flex;
    justify-content: space-between;
    position: fixed;
    z-index: 1;
    background-color: #000000;
}

.logo {
    display: flex;
    align-items: center;
    margin-left: 25px;
}

#imgLogo {
    width: 60px;
    height: 60px;
}

.links {
    display: flex;
    align-items: center;
    margin-right: 15px;
}

.links ul li a {
    color: #FFFFFF;
}

ul#horizontal-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

ul#horizontal-list li {
    display: inline;
    padding-left: 20px;
}

ul#horizontal-list li a:hover {
    text-decoration: underline;
}

/* Welcome Section*/
#landing {
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

#subLanding {
    position: relative;
}

#subLandingBottom {
    position: absolute;
    margin: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    bottom: 0;
}

#subLandingBottom h4 {
    margin-bottom: 5px;
}

#title {
    display: block;
    font-size: 110pt;
    margin: 0;
}

#subTitle {
    font-size: 40pt;
    margin: 0 0 100px 0;
}

/* Introduction Section*/
#introduction {
    height: auto;
}

#introduction h2 {
    margin: 50px 0 25px 0;
}

#introduction p {
    margin: 0 0 50px 0;
}

/* Statistics Section*/
#stats {
    width: 100%;
    height: auto;
    margin: 50px auto;
    padding: 0;
    background-color: #000000;
}

#stats table {
    padding: 50px 0;
    background-color: #000000;
}

.statsH1 {
    margin: 0;
    font-size: 36pt;
    color: #FFFFFF;
}

.statsH3 {
    margin: 0;
    color: #FFFFFF;
}

/* Schedule Section*/
#scheduleSection {
    height: auto;
}

.overlay {
    display: none; /* Hidden by default */
    position: fixed; /* Sit on top of the page content */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    background-color: rgba(0,0,0,0.75); /* Black background with opacity */
}

.overlayContent {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    color: #000000;
}

.overlayTable tr {
    font-size: 14pt;
}

.overlayTable tr:first-child {
    font-size: 20pt;
    font-weight: bold;
}

.overlayTable tr td {
    padding: 25px;
}

.overlayButtons {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
}

.overlayButtons h4 {
    font-family: LifeEF;
    font-size: 12pt;
    font-weight: bold;
}

.overlayButtons:hover {
    cursor: pointer;
    text-decoration: underline;
}

#overlay1CloseB {
    width: 75px;
    padding: 0;
}

#overlay1CloseB:hover {
    cursor: pointer; /* Add a pointer on hover */
    background-color: rgba(75, 75, 75, 0.4);
}

#overlay2CloseB {
    width: 75px;
    padding: 0;
}

#overlay2CloseB:hover {
    cursor: pointer; /* Add a pointer on hover */
    background-color: rgba(75, 75, 75, 0.4);
}

#overlay3CloseB {
    width: 75px;
    padding: 0;
}

#overlay3CloseB:hover {
    cursor: pointer; /* Add a pointer on hover */
    background-color: rgba(75, 75, 75, 0.4);
}

.collapsible {
    background-color: #000000;
    color: #FFFFFF;
    cursor: pointer;
    padding: 5px 0 5px 25px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
}

.collapsible:hover {
    background-color: #222222;
}

.content {
    display: none;
    overflow: hidden;
}

#scheduleSection div h2 {
    margin: 50px 0 25px 0;
}

td h4 {
    margin: 0;
}

.setup {
    background-color: rgba(75, 75, 75, 0.4);
}

.closed {
    background-color: rgba(255, 25, 25, 0.4);
}

.opened {
    background-color: rgba(95, 230, 25, 0.4);
}

.critReview {
    background-color: rgba(25, 25, 255, 0.4);
}

.event {
    background-color: rgba(255, 125, 0, 0.4);
}

.overlap {
    background-color: rgba(125, 25, 125, 0.4);
}

/* Directions Section*/
#lastSection {
    padding-bottom: 50px;
}

#mapP1 {
    margin-bottom: 0;
}

/* Footer Section*/
footer {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000;
}

footer p {
    margin: 0;
    color: #FFFFFF;
}